[project]
name = "open-instruct"
version = "0.1.0"
description = "Train open, instruction-following language models"
readme = "README.md"
requires-python = ">=3.10,<3.12"
dependencies = [
    "accelerate>=1.1.1",
    "antlr4-python3-runtime==4.11",
    "bitsandbytes>=0.44.1",
    "datasets>=3.1.0",
    "debugpy>=1.8.13",
    "deepspeed==0.15.4", # 0.16.0 bugs out https://github.com/microsoft/DeepSpeed/issues/6793
    "hf-transfer>=0.1.8",
    "matplotlib>=3.9.3",
    "nltk>=3.9.1",
    "numpy<2",
    "nvitop>=1.4.2",
    "packaging>=24.2",
    "peft>=0.13.2",
    "ray[default]>=2.44.1",
    "setuptools>=75.6.0",
    "tensorboard>=2.18.0",
    "torch>=2.6.0",
    "transformers>=4.46.3",
    "vllm>=0.8.2",
    "wandb==0.18.1",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
py-modules = ["open_instruct"]

# pytorch related setups
[tool.uv.sources]
torch = [
  { index = "pytorch-cu124", marker = "platform_system != 'Darwin'"},
]

[[tool.uv.index]]
name = "pytorch-cu124"
url = "https://download.pytorch.org/whl/cu124"
explicit = true

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

# flash-attn related setups
[project.optional-dependencies]
compile = ["flash-attn>=2.7.2.post1"]
liger = ["liger-kernel>=0.5.4"]

[tool.uv]
python-preference = "only-managed"
no-build-isolation-package = ["flash-attn"]

[[tool.uv.dependency-metadata]]
name = "flash-attn"
version = "2.7.2.post1"
requires-dist = ["torch", "setuptools"]

[dependency-groups]
dev = [
    "autoflake>=2.3.1",
    "beaker-py>=1.32.2",
    "black>=24.10.0",
    "flake8>=7.1.1",
    "isort>=5.13.2",
    "mkdocs-material>=9.6.8",
    "markdown-include>=0.8.1",
    "pytest>=8.3.4",
]

[tool.isort]
known_first_party = ["open_instruct"]
