# TODO When updating flash-attn or torch in the future, make sure to update the version in the Dockerfile 
torch<=2.3.0
scipy
packaging
sentencepiece
datasets
deepspeed==0.14.4
accelerate==0.31.0
peft>=0.11.1
bitsandbytes>=0.41.1
evaluate>=0.4.0
tokenizers==0.19.1
protobuf
transformers==4.40.2
openai>=1.0.0
tiktoken
rouge_score
tensorboard
wandb
gradio>=3.50.2
termcolor
jsonlines
unidic-lite
einops
flash-attn==2.5.8 # should really only be in dockerfile. Local env often doesn't have GPUs
fire
alpaca-eval==0.6.2
# for human eval web app
flask
# Newer vLLM requires pydantic >= 2, but deepspeed requires pydantic < 2
# if we are not using olmo models, this is fine.
# once https://github.com/microsoft/DeepSpeed/pull/5167 is merged, we can
# update vLLM and remove the need for a separate olmo inference file
vllm>=0.4.1
openpyxl
# for ifeval
nltk
langdetect
immutabledict
# for math evaluations
antlr4-python3-runtime==4.11.0
mpmath==1.3.0
sympy==1.12.0
# for linting
black
flake8
isort