version: v2
budget: ai2/oe-adapt
description: "VLLM Server qwen3 8b rl rag judge"
tasks:
  - name: "vllm-job"
    image:
      beaker: ai2/pytorch2.0.0-cuda11.8-python3.10
    hostNetworking: true
    command: ["/bin/sh", "-c"]
    arguments:
      [
        "pip install 'vllm==0.10.2' && \
          VLLM_ALLOW_LONG_MAX_MODEL_LEN=1 vllm serve Qwen/Qwen3-8B \
            --tensor-parallel-size 1 \
            --trust-remote-code \
            --port 8003 \
            --enforce-eager"
      ]
    datasets:
      - mountPath: /weka/oe-adapt-default
        source:
          weka: oe-adapt-default
    constraints:
      cluster:
        - ai2/ceres
    resources:
      gpuCount: 1
    context:
      priority: urgent
      preemptible: False
