model_name_or_path: allenai/OLMo-1B-0724-hf
use_flash_attn: false
gradient_checkpointing: true
tokenizer_name: allenai/OLMo-1B-0724-hf
dataset_mixer:
  allenai/ultrafeedback_binarized_cleaned_train: 61814
  ai2-adapt-dev/DaringAnteater-prefs-RM-filter: 1618
  ai2-adapt-dev/hh-rlhf-helpful: 20000
  ai2-adapt-dev/webgpt-binarized: 14346
  ai2-adapt-dev/WildChat-prefs-280824: 11487
max_seq_length: 2048
gradient_checkpointing: true
preprocessing_num_workers: 16
per_device_train_batch_size: 8
gradient_accumulation_steps: 4 # designed for 1 GPUs, so batch size 32
learning_rate: 5.0e-7
dpo_beta: 0.1
lr_scheduler_type: linear
warmup_ratio: 0.1
weight_decay: 0.0
num_train_epochs: 3
output_dir: output/olmo_instruct_dpo/
with_tracking: true
report_to:
  - wandb
logging_steps: 1
add_bos: true
