name: Quality

on:
  pull_request:
    branches:
      - main
  merge_group:

jobs:

  check_code_quality:
    name: Check code quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.8.8"
      - name: Code quality
        run: |
            make style-check
            make quality-check
