name: Tests

on:
  pull_request:
    branches:
      - main
  merge_group:

jobs:

  unit-tests:
    name: Run unit tests
    runs-on: 8-Core-XL-Runner-Ubuntu-Latest
    timeout-minutes: 20
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.8.6"
      - name: Set up Python
        run: uv sync --frozen
      - name: Run unit tests
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: uv run --frozen pytest --cov
      - name: Upload coverage reports to Codecov
        run: |
          curl -Os https://cli.codecov.io/latest/linux/codecov && chmod +x codecov
          ./codecov --verbose upload-process --fail-on-error -t ${{ secrets.CODECOV_TOKEN }} -n 'service'-${{ github.run_id }} -F service -f coverage-service.xml